.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.contenedorInterno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}